body {
  margin: 0;
  overflow: hidden;
  align-items: center;
  justify-content: center;
}

.rows-container {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  width: 20000px;
}

.row1, .row2, .row3, .row4 {
  display: flex;
  overflow: hidden;
  white-space: nowrap; /* Prevent buttons from wrapping to the next line */
  transition: transform 0.5s ease; /* Add smooth transition effect */
}

.button {
  width: 160px;
  height: 160px;
  margin: 5px;
  border: none;
  border-radius: 50%;
  transition: transform 0.5s ease; /* Add smooth transition effect */
}

.button:hover {
  transform: scale(1.06);
  opacity: 0.5;
}
